.git
.beep-dev
.agents
.codex
.env
.env.*
.npmrc
.yarnrc
.ssh
.aws
.azure
.gcloud
.oci
auth.json
**/auth.json
*.key
*.pem
*.p12
*.pfx
vendor/*
!vendor/pi
!vendor/pi/package.json
!vendor/pi/package-lock.json
!vendor/pi/tsconfig.json
!vendor/pi/tsconfig.base.json
!vendor/pi/packages
!vendor/pi/packages/**
vendor/pi/.git
vendor/pi/node_modules
vendor/pi/packages/*/node_modules
!vendor/lossless-claw
!vendor/lossless-claw/package.json
!vendor/lossless-claw/package-lock.json
!vendor/lossless-claw/tsconfig.json
!vendor/lossless-claw/index.ts
!vendor/lossless-claw/src
!vendor/lossless-claw/src/**
vendor/lossless-claw/.git
vendor/lossless-claw/node_modules
node_modules
dist
docs
skills-lock.json
